/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset */


/* Fonts */

body {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: burlywood;
    color: -moz-black;
    color: -webkit-white;
}

h1 {
	font-size: 48px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 3px;
    color: burlywood;
    color: -moz-black;
    color: -webkit-white;
}

h2 {
	font-size: 32px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 3px;
    color: burlywood;
    color: -moz-black;
    color: -webkit-white;
}

h3 {
	font-size: 20px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 1.5px;
    color: burlywood;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
}

h4 {
	font-size: 16px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1em;
	letter-spacing: 3px;
    color: burlywood;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
}

p {
	font-size: 16px;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 1.5px;
    color: burlywood;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
}


/* End of Fonts */


/* To Top */
.totop {
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
	width: 15px;
	height: 15px;
	padding: 3px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	border: solid 1px white;
}

.totop a {
	text-decoration: none;
}

.totop i {
    color: burlywood;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
	font-size: 17px;
    text-align: left;
    text-align: -moz-center;
}

.totop:hover {
	background-color: white;
    -moz-default-background-color: black;
    color: burlywood;
    color: -moz-default-color: white;
    color: -webkit-text-fill-color: black;
	border: solid 1px black;
    -moz-border-colors: white;
	cursor: pointer;
}
/* To Top */



/* DIVs */
div.full {
	width: 100%;
    background-color: black;
	-moz-default-background-color: white;
}


div.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
    background-color: black;
	-moz-default-background-color: white;
}


/* Nav */

nav {
	width: 100%;
	height: 75px;
	font-size: 14px;
	font-family: 'Montserrat', helvetica, sans-serif;
	text-align: right;
	line-height: 1.5em;
	letter-spacing: 3px;
	background-color: white;
	-moz-default-background-color: black;
}

nav img {
	float: left;
	margin-left: 25px;
	margin-top: 19px;
}

nav ul {
	height: auto;
	padding: 25px 0;
	margin: 0;
	list-style-type: none;
	margin-right: 20px;
}

nav li {
	display: inline;
	padding: 6px 2px;
	margin: 0 12px;
    color: black;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
}

nav a {
	text-decoration: none;
    color: burlywood;
    color: -moz-default-color: white;
    color: -webkit-text-fill-color: black;
	vertical-align: center;
}

nav a:hover {
    color: burlywood;
    color: -moz-default-color: gray;
    color: -webkit-text-fill-color: gray;
	cursor: pointer;
}

nav .active a {
	color: dimgrey;
	border-bottom: 2px solid #fff;
	padding-bottom: 4px;
}



/* header */
#logo {
	text-indent: -9999px;
}


 
/* content area 1 */
section.intro {
	width: 100%;
	float: left;
	box-sizing: border-box;
    background-color: black;
	-moz-default-background-color: white;
	border: none;
}

section.intro article {
	width: 50%;
	padding: 75px;
	margin: 0 auto;
	float: left;
	display: block;
	box-sizing: border-box;
    text-align: left;
    text-align: -moz-center;
}

section.intro img {
	width: 80%;
	margin: 0 auto;
	float: left;
	border-radius: 100%;
}

section.intro article header {
	display: block;
	margin-bottom: 50px;
    text-align: left;
    text-align: -moz-center;
}






/* Section */
section.whole {
	width: 100%;
	float: left;
	box-sizing: border-box;
    background-color: black;
	-moz-default-background-color: white;
	border: none;
}

section.one-half {
	width: 50%;
	float: left;
	box-sizing: border-box;
    background-color: black;
	-moz-default-background-color: white;
	border: none;
}







/* Home - Section 1 - Info & Links */

section.one-half article {
	width: 100%;
	padding: 75px;
	margin: 0 auto;
	float: left;
	display: block;
	box-sizing: border-box;
}

article.rounded-photo img {
	width: 80%;
	margin: 0 auto;
	float: left;
	border-radius: 100%;
}

section.one-half img {
	display: block;
	float: left;
	margin: 15px 0 auto;
}

section.one-half article header {
	display: block;
	margin-bottom: 50px;
}


/* Section 1 - Info & Links */


/* Section 2 - Book now call to action */

section.one-third img {
	max-width: 100%;
	float: right;
	height: 409px;
}

section.two-thirds article {
	width: 100%;
	padding-left: 150px;
	margin: 0 auto;
	float: left;
	display: block;
	box-sizing: border-box;
}

section.two-thirds article img {
	padding-top: 15px;
	padding-bottom: 30px;
	display: block;
	float: left;
}

section.two-thirds article header {
	display: block;
	margin-bottom: 50px;
	padding-top: 75px;
}

section.two-thirds a {
	background-color: #939393;
	border: none;
	color: #D9D9D9;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Montserrat', helvetica, sans-serif;
	letter-spacing: 3px;
	margin-top: 50px;
	margin-bottom: 50px;
}

section.two-thirds a:hover {
	background-color: #fff;
	color: #1D1D1B;
	cursor: pointer;
}


/* Section 2 - Book now call to action */


/* Section 3 - The shop display */

article.quarter-photo {
	width: 50%;
}

article.quarter-photo img {
	width: 45%;
	float: left;
	margin: 10px;
	box-sizing: border-box;
	position: relative;
}


/* Section 3 - The shop display */


/* Section 3 - The shop display */

section.blog header {
	display: block;
	padding: 75px;
	padding-bottom: 50px;
}

section.blog article img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

section.blog article {
	width: 33.33333%;
	height: auto;
	padding: 0 75px;
	line-height: 2em;
	align-content: center;
	float: left;
	box-sizing: border-box;
	margin-bottom: 50px;
}

section.blog a {
	background-color: #939393;
	color: #1D1D1B;
	border: none;
	padding: 0 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Montserrat', helvetica, sans-serif;
	letter-spacing: 3px;
	margin-top: 25px;
	margin-bottom: 75px;
}

section.blog a:hover {
	background-color: #EFEFEF;
	color: #1D1D1B;
	cursor: pointer;
}


/* Home - Section 3 - The shop display */


/* Book Now - Booking & Rates */

section.book-now form {
	width: 90%;
	box-sizing: border-box;
	float: left;
}

section.book-now select {
	width: 90%;
	height: auto;
	padding: 10px;
	border: none;
	background-color: #fff;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 5em;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 0;
}

section.book-now select:focus {
	outline: none;
}

section.book-now input[type=number] {
	width: 90%;
	padding: 10px;
	border: none;
	background-color: #fff;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 0;
}

section.book-now input[type=number]:focus {
	outline: none;
}

section.book-now input[type=date] {
	width: 90%;
	padding: 10px;
	border: none;
	background-color: #fff;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 0;
}

section.book-now input[type=date]:focus {
	outline: none;
}

input[type=text] {
	width: 90%;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	color: #939393;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
	margin-bottom: 25px;
}

section.book-now input[type=text]:focus {
	outline: none;
}

section.book-now input[type=text] {
	width: 90%;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	color: #939393;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
	margin-bottom: 40px;
}

section.book-now input[type=text]:focus {
	outline: none;
}

section.book-now #booking {
	width: 90%;
	float: left;
	box-sizing: border-box;
	padding: 0;
}

section.book-now textarea[name=message] {
	width: 100%;
	height: 100px;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	color: #939393;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
}

section.book-now textarea[name=message]:focus {
	outline: none;
}

div.empty {
	margin-top: 130px;
}

section.book-now input[type=checkbox] {
	border: none;
	float: left;
	align-content: center;
	margin: 0 10px 0 10px;
}

section.book-now input[type=checkbox]:hover {
	cursor: pointer;
}

section.book-now input[type=checkbox]:focus {
	outline: none;
}

section.book-now input[type=checkbox]:checked {
	outline: none;
}

section.book-now input[type=submit] {
	background-color: #1D1D1B;
	border: none;
	color: #D9D9D9;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Montserrat', helvetica, sans-serif;
	letter-spacing: 3px;
	margin-top: 50px;
	text-transform: uppercase;
}

section.book-now input[type=submit]:hover {
	background-color: #939393;
	color: #1D1D1B;
	cursor: pointer;
}

section.book-now input[type=submit]:focus {
	outline: none;
}


/* Book Now */


/* Terms & Conditions */

.whole article {
	width: 100%;
	padding-top: 75px;
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 0;
	margin: 0 auto;
	float: left;
	display: block;
	box-sizing: border-box;
}

.t-c {
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 25px;
	padding-top: 0px;
	line-height: 2em;
	border-bottom: 1px solid #000;
}

.t-c:last-child {
	border-bottom: none;
}

article.t-c a {
	padding-bottom: 5px;
	margin: 0 auto;
	float: left;
	display: block;
	text-decoration: none;
	line-height: 2em;
}

article.t-c a:hover {
	color: #939393;
	border-bottom: 1px solid #939393;
}


/* Terms & Conditions */


/* Gallery Page */


/* Photo gallery */


/* Photos */

.photo-gallery {
	width: 100%;
	background-color: #efefef;
	padding: 30px 10px 30px 10px;
	overflow: auto;
}

.photo-gallery img {
	float: left;
	margin: 10px;
	width: 18%;
	overflow: auto;
}


/* Photos */


/* Contact us - Section 2 - Contact Form */

section.contact-us form {
	width: 90%;
	box-sizing: border-box;
	float: left;
}

section.contact-us input[type=text] {
	width: 100%;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	color: #939393;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
	margin-bottom: 40px;
}

section.contact-us input[type=text]:focus {
	outline: none;
}

section.contact-us #message {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 0;
}

section.contact-us textarea[name=message] {
	width: 100%;
	height: 100px;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	color: #939393;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
}

section.contact-us textarea[name=message]:focus {
	outline: none;
}

section.contact-us input[type=submit] {
	background-color: #1D1D1B;
	border: none;
	color: #D9D9D9;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Montserrat', helvetica, sans-serif;
	letter-spacing: 3px;
	margin-top: 50px;
	text-transform: uppercase;
}

section.contact-us input[type=submit]:hover {
	background-color: #939393;
	color: #1D1D1B;
	cursor: pointer;
}

section.contact-us input[type=submit]:focus {
	outline: none;
}


/* Contact us - Section 2 - Contact Form */


/* Footer */

div.footer-separator {
	width: 100%;
	height: 1px;
	background-color: #fff;
}

footer {
	width: 100%;
	height: auto;
	text-align: right;
	line-height: 1.5em;
	letter-spacing: 3px;
	background-color: #1d1d1b;
	padding: 75px 40px 20px 40px;
	float: left;
	box-sizing: border-box;
}

footer h4 {
	font-size: 13px;
}

footer p {
	font-size: 12px;
}

footer article {
	width: 22%;
	height: auto;
	margin: 10px;
	display: block;
	padding: 0 7px;
	float: left;
	box-sizing: border-box;
	margin-bottom: 25px;
}

footer article img {
	text-align: left;
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 10px 0;
	float: left;
}

footer i {
	color: #EFEFEF;
	float: left;
}

footer i:hover {
	color: #939393;
	cursor: pointer;
}

footer form {
	width: 100%;
	box-sizing: border-box;
	float: left;
	padding-top: 30px;
}

footer input[type=text] {
	width: 100%;
	font-size: 12px;
	font-family: 'Cardo', georgia, serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 1.5em;
	color: #939393;
	border: none;
	background-color: #1d1d1b;
	border-bottom: solid 1px;
	border-color: #fff;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
}

footer input[type=text]:focus {
	outline: none;
}

footer input[type=submit] {
	font-family: 'Montserrat', helvetica, sans-serif;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 3px;
	padding: 5px 15px;
	font-size: 10px;
	background-color: #EFEFEF;
	color: #1D1D1B;
	border: none;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	margin-bottom: 40px;
	float: left;
}

footer input[type=submit]:hover {
	background-color: #939393;
	color: #1D1D1B;
	cursor: pointer;
}

footer small {
	display: block;
	font-size: 9px;
	text-align: center;
	margin-bottom: 5px;
}


/* Footer */


/* To Top widget */

#totop {
	background-color: #1d1d1b;
	width: 15px;
	height: 15px;
	padding: 7px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	border: solid 1px #b1b1b1;
}

#totop a {
	text-decoration: none;
}

.lnr-arrow-up {
	color: #efefef;
	font-size: 17px;
}

.lnr-arrow-up:hover {
	color: #000;
}

#totop:hover {
	background-color: #b1b1b1;
	color: #1d1d1b;
	border: solid 1px #1d1d1b;
	cursor: pointer;
}


/* To Top widget */


/* clearfix */



/* clearfix */

@-moz-document url(file:///Volumes/UserData/gans115/Desktop/Cross%20Browser%20Compatibility/01.%20General%20Assignments/02.%20Browser%20Specific%20Webpage/browser-specific-webpage/index.html),
    {
      body, h1, h2, h3, h4, p { color: black; background: white; }
}

.clearfix {
	clear: both;
}
