/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset */


/* Fonts */

body {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: burlywood;
}

h1 {
	font-size: 48px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 3px;
    color: burlywood;
}

h2 {
	font-size: 34px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 3px;
    color: burlywood;
}

h3 {
	font-size: 22px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 1.5px;
    color: burlywood;
}

h4 {
	font-size: 16px;
	font-family: 'Josefin Slab', georgia, serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1em;
	letter-spacing: 3px;
    color: burlywood;
}

p {
	font-size: 16px;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	text-align: left;
    text-align: -moz-center;
	line-height: 1.5em;
	letter-spacing: 1.5px;
    color: burlywood;
}


/* End of Fonts */


/* To Top */
.totop {
    background-color: black;
    color: burlywood;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
	width: 18px;
	height: 20px;
	padding: 8px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: solid 1px white;
    z-index: 1000;
}

.totop a {
	text-decoration: none;
}

.totop i {
    color: burlywood;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
	font-size: 18px;
    text-align: center;
    text-align: -moz-center;
    vertical-align: middle;
}

.totop:hover {
	background-color: white;
    background-color: -moz-default-background-color: black;
    color: burlywood;
    color: -moz-default-color: white;
    color: -webkit-text-fill-color: black;
	border: solid 1px black;
	cursor: pointer;
}
/* To Top */



/* DIVs */
div.full {
	width: 100%;
    background-color: black;
    position: relative;
    overflow: auto;
}


div.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
    background-color: black;
}


/* Nav */

nav {
	width: 100%;
	height: 75px;
	font-size: 14px;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	text-align: right;
	line-height: 1.5em;
	letter-spacing: 3px;
	background-color: white;
}

nav img {
	float: left;
	margin-left: 25px;
	margin-top: 19px;
}

nav ul {
	height: auto;
	padding: 25px 0;
	margin: 0;
	list-style-type: none;
	margin-right: 20px;
}

nav li {
	display: inline;
	padding: 6px 2px;
	margin: 0 12px;
    color: black;
    color: -moz-default-color: black;
    color: -webkit-text-fill-color: white;
}

nav a {
	text-decoration: none;
    color: burlywood;
    color: -moz-default-color: white;
    color: -webkit-text-fill-color: black;
	vertical-align: center;
}

nav a:hover {
    color: burlywood;
    color: -moz-default-color: gray;
    color: -webkit-text-fill-color: gray;
	cursor: pointer;
}

nav .active a {
	color: dimgrey;
	border-bottom: 2px solid #fff;
	padding-bottom: 4px;
}



/* header */
#logo {
	text-indent: -9999px;
}


 
/* content area 1 */
section.intro {
	width: 100%;
	float: left;
	box-sizing: border-box;
    background-color: black;
	border: none;
}

section.intro article {
	width: 50%;
	padding: 75px;
    padding-top: 20px;
	margin: 0 auto;
	float: left;
	display: block;
	box-sizing: border-box;
    text-align: left;
    text-align: -moz-center;
}

section.intro img {
	width: 80%;
	margin: 0 auto;
	float: left;
	border-radius: 100%;
}

section.intro header {
	display: block;
	margin: 15px, 0;
    text-align: left;
    text-align: -moz-center;
    padding: 0 55px;
}


section.intro form {
	width: 90%;
	box-sizing: border-box;
	float: left;
}

section.intro input[type=text] {
	width: 100%;
	font-size: 12px;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
}

section.intro input[type=text]:focus {
	outline: none;
}

section.intro #message {
	width: 90%;
	box-sizing: border-box;
	float: left;
    margin-top: 30px;
}

section.intro textarea[name=message] {
	width: 100%;
	font-size: 12px;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	letter-spacing: 2px;
	text-align: left;
	line-height: 2em;
	border: none;
	background-color: #efefef;
	border-bottom: solid 1px #1D1D1B;
	text-decoration: none;
	text-shadow: none;
	display: block;
	float: left;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
}

section.intro textarea[name=message]:focus {
	outline: none;
}

section.intro input[type=submit] {
	background-color: #1D1D1B;
	border: none;
	color: #D9D9D9;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	letter-spacing: 3px;
	margin-top: 15px;
	text-transform: uppercase;
}

section.intro input[type=submit]:hover {
	background-color: #939393;
	color: #1D1D1B;
	cursor: pointer;
}

section.intro input[type=submit]:focus {
	outline: none;
}


/* Contact us - Section 2 - Contact Form */


/* Footer */

footer {
	width: 100%;
	height: auto;
	text-align: left;
	line-height: 1.5em;
	letter-spacing: 3px;
	background-color: #1d1d1b;
	padding: 20px;
	float: left;
	box-sizing: border-box;
}

footer small {
	display: block;
	font-size: 11px;
	text-align: center;
}
/* Footer */




@-moz-document url-prefix() {
body, h1, h2, h3, h4, p {
    color: black; 
    background: white;
}
    
body {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: black;
}

h1 {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: black;
    text-align: center;
}

h2 {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: black;
    text-align: center;
}

h3 {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: black;
    text-align: center;
}

h4 {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: black;
    text-align: center;
}

p {
	font-family: 'Josefin Sans', helvetica, sans-serif;
    color: black;
    text-align: center;
}


.totop {
    background-color: black;
    color: black;
	border: solid 1px white;
}

.totop a {
	text-decoration: none;
}

.totop i {
    color: white;
    text-align: center;
}

.totop:hover {
    background-color: black;
    color: white;
	border: solid 1px black;
}

div.full {
    background-color: white;
}

div.container {
	width: 100%;
	max-width: 1000px;
    background-color: white;
}


nav {
	width: 100%;
	height: 70px;
	font-size: 10px;
	background-color: black;
}

nav li {
    color: grey;
    }

nav a {
    color: white;
    font-size: 14px;
}

nav a:hover {
    color: gray;
}

nav .active a {
	color: dimgrey;
}

section.intro {
	width: 100%;
	float: left;
	box-sizing: border-box;
    background-color: white;
	border: none;
}

section.intro article {
    text-align: center;
}

section.intro img {
	width: 90%;
}

section.intro header {
    text-align: center;
}


section.whole {
	box-sizing: border-box;
    background-color:  white;
}

section.one-half {
    background-color: white;
}


section.intro input[type=text] {
	width: 100%;
	text-align: center;
	background-color: white;
	text-decoration: none;
	text-shadow: none;
    outline: none;
    box-shadow: none;
}

section.intro input[type=text]:focus {
	outline: none;
}

section.intro #message {
	width: 100%;
}

section.intro textarea[name=message] {
	width: 100%;
	text-align: center;
	background-color: white;
	text-decoration: none;
	text-shadow: none;
}

section.intro textarea[name=message]:focus {
	outline: none;
}

section.intro input[type=submit] {
	background-color: gray;
	border: none;
	color: black;
	padding: 10px 30px;
	text-align: center;
	font-family: 'Josefin Sans', helvetica, sans-serif;
	text-transform: uppercase;
}

section.intro input[type=submit]:hover {
	background-color: black;
    color: white;
}

section.intro input[type=submit]:focus {
	outline: solid 2px dimgrey;
}

footer {
	width: 100%;
	text-align: center;
	letter-spacing: 4px;
	background-color: dimgrey;
}

footer small {
	font-size: 17px;
	text-align: center;
    background-color: dimgrey;
}
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
body, h1, h2, h3, h4, p {
    color: dimgrey;
    font-family: helvetica, sans-serif;
    text-align: justify;
}
    
nav {
    font-family: helvetica, sans-serif;
}

.totop {
    background-color: salmon;
    color: white;
	border: solid 1px white;
}

.totop i {
    color: white;
}

.totop:hover {
    background-color: white;
    color: palevioletred;
	border: solid 1px palevioletred;
}

div.full {
    background-color: seashell;
}

div.container {
	width: 100%;
	max-width: 1000px;
    background-color: seashell;
}


nav {
	background-color: salmon;
}

nav li {
    color: grey;
    }

nav a {
    color: white;
    font-size: 14px;
}

nav a:hover {
    color: gray;
}

nav .active a {
	color: dimgrey;
}

section.intro {
	width: 100%;
	float: left;
	box-sizing: border-box;
    background-color: seashell;
	border: none;
    
}

section.intro article {
    text-align: left;
    background-color: seashell;
}

section.intro header {
    text-align: left;
}


section.whole {
	box-sizing: border-box;
    background-color: white;
}

section.one-half {
    background-color: white;
}

    
section.intro input{
    width: 90%;
	text-align: left;
	background-color: navajowhite;
	text-decoration: none;
	text-shadow: none;
    border-radius: 10px;  
    outline: none; 
    padding: 10px;
}
    
section.intro input:focus {
    outline: none; 
}

section.intro input[type=text] {
	width: 90%;
	text-align: left;
	background-color: navajowhite;
	text-decoration: none;
	text-shadow: none;
}

section.intro #message {
	width: 100%;
}

section.intro textarea[name=message] {
	width: 90%;
	text-align: left;
	background-color: navajowhite;
	text-decoration: none;
	text-shadow: none;
    border-radius: 10px;  
}

section.intro input[type=submit] {
	background-color: salmon;
	color: white;
	text-align: center;
	text-transform: lowercase;
    border-radius: 10px;
}

section.intro input[type=submit]:hover {
    background-color: white;
    color: salmon;
}


footer {
	width: 100%;
	text-align: left;
    background-color: salmon;
}

footer small {
	font-size: 15px;
	text-align: left;
    background-color: salmon;
}
}


.clearfix {
	clear: both;
}
